@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@400;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  color: #0d2352;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
a {
    color: #0d2352;
}
a:hover {
    color: #002352;
}
.form-control {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  color: #88837f;
  font-size: 13px;
}
#footer a {
  color: #88837f;
}
#footer a:hover {
  color: #999;
}
a:hover {
  text-decoration: none;
}
.static_link,
.static_link:hover {
  color: #0d2352;
}
.inactive_link,
.inactive_link:hover {
  color: #002352;
}
/* Navbar */
.navbar {
  font-weight: 400;
  background: #0d2352;
  color: #fff;
  -webkit-box-shadow: -1px 2px 9px 0px rgba(221, 221, 221, 1);
  -moz-box-shadow: -1px 2px 9px 0px rgba(221, 221, 221, 1);
  box-shadow: -1px 2px 9px 0px rgba(221, 221, 221, 1);
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
  color: #fff;
}
/* Heading */
.heading {
  font-weight: 200;
  font-size: 42px;
  line-height: 48px;
  padding-top: 10px;
}
.sub_heading {
  font-weight: 200;
  font-size: 36px;
  margin-top: 5px;
  line-height: 35px;
}
/* Knowledge base */
.slider-block {
  background: url("../images/slider.jpg") no-repeat;
  background-position: top;
  background-size: cover;
  color: #1b1e21;
}
.slider-block .slider-content {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.slider-block .slider-content h1 {
  font-weight: 300;
  margin-bottom: 50px;
  color: #0d2352;
}
a.kb_category {
  font-weight: 400;
  font-size: 20px;
  color: #4c4c4c;
}
a.kb_category:hover {
  color: #0077ff;
}
.kb_total_articles {
  color: #b3b3b3;
}
.kb_article_icon {
  color: #c7c7c7;
}
.kb_article_icon_lg {
  color: #e5e5e5;
  font-size: 40px;
}

.article_description {
  color: #999;
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}
.bg-staff {
  background-color: #fff5e5;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 17px;
}
.nav-item {
  position: relative;
}
.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f9f9f9;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.btn-primary {
  color: #fff;
  border-color: #0d2352;
  background-color: #0d2352;
}
.btn-primary:focus,
.btn-primary:hover {
  transform: scaleX(1.05) scaleY(1.05);
  border-color: #0d2352;
  background-color: #0d2352;
}
.section-title {
    font-family: Poppins,sans-serif;
    color: #003DBE !important;
    font-weight: 700 !important;
    text-transform: uppercase;
}
.text-dark {
    color: black !important;
}